
/* 
    Created on : 27-apr-2015, 0.41.51
    Author     : antonello
*/

div.input-form input {
    width: 200px;
}

input.error, select.error{
    background-color: #F4CDED;
}


div.input-form textArea {
    width: 200px;
}

div.input-form label{
    display: inline-block;
    width: 170px;
    font-family: "calibri", sans-serif;
    font-size: 12px;
    text-align: right;
}

select{
    font-family: "calibri", sans-serif;
    font-size: 12px;
}

select#statoPratica, select#tipoPratica{
    width: 200px;
}

div.input-form {
    position: relative;
}

div.right{
    float: right;
    width: 49%;
}
div.left{
    float: left;
    width: 49%;
}


h3 {  
    text-align: center;
    font-family: "calibri", sans-serif;
    font-size: 14px;
}

div.input-form #salva {
    color: blueviolet;
    position: absolute;
    top: 385px;
    right: 400px;
    width: 100px;
}
#allaFirma{
    color: blueviolet;
    position: absolute;
    top: 385px;
    left: 50px;
    width: 100px;
}

p.msg{
    position: absolute;
    top: 0px;
    right: 50px;
    font-family: "calibri", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px;
    background-color: #ccffcc;
}

button:hover{
    background-color: #99ccff;
}

p.buttons{
    text-align: center;
}

#submitF{
    /*position: absolute;*/
    top: 0px;
    right: 50px;
    text-align: right;
}

div.footer{
    width: 995px;
    height: 70px;
    text-align: center;
    font-family: "calibri", sans-serif;
    font-size: 10px;
    color: white;
    border: 10px;
    border-color: #95100C;
    border-style: solid;
    background-color: #95100C;
    background-image: url('../images/logoUnica.png');
    background-repeat: no-repeat;
    background-position: top left;
}

div.clear{
    clear: both;
    height: 1px;
    width: 1000px;
}

div.menu{
    clear: both;
    /*    background-color: #95100C;
        height: 1px;*/

}

div.leftBar{
    float: left;
    width: 10%;
}
div.page{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

div.content{

    padding-top: 0px;
    margin-left: 10%;
    margin-right: 10%;
    width:90%;
    background-color: #FFFFFF;

}

div.login{
    padding-top:100px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 341px;
    text-shadow: 2px 2px 5px red;
}

div.login input {
    width: 200px;
}

div.login button {
    color: blueviolet;
    position: relative;
    left: 300px;
    width: 100px;
}

div.login h2{
    font-family: "calibri", sans-serif;
    font-size: 16px;
    text-align: center;
}

div.login label, div.nuovoOp label{
    display: inline-block;
    width: 190px;
    font-family: "calibri", sans-serif;
    font-size: 14px;
    text-align: right;
}


div.header{
    background-image: url('../images/logo.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    height: 110px;
    color: #95100C;
}
div.header h2, div.header h4{
    display: none;
}

div.none{
    position: absolute;
    top: 20px;
    right: 0px;
    display: none;
    float: right;
    margin-right: auto;
    margin-left: auto;
    width: 50%  
}


div.headerLeft{
    background-image: url('../images/suap.png');
    background-repeat: no-repeat;
    background-position: left top;
    height: 110px;
    width: 600px;
    float: left;
}

div.benvenuto{
    height: 300px;
    font-family: "calibri", sans-serif;
    font-size: 14px;
    text-align: center;
}

div.errore{
    font-family: "calibri", sans-serif;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 300px;
    text-shadow: 2px 2px 5px #777777;
}

div.errorMenu, div.menuLeft{
    font-family: "calibri", sans-serif;
    font-size: 14px;
    border-right: 1px solid #95100C;
    border-top: 1px solid #95100C;
    height: 440px;
}

div.menuLeft p, div.menuLeft ul, div.menuLeft li,div.menuLeft h5 {
    display: inline;
    list-style-type: none;	
    padding-left: 0px;		
    font-family: "calibri", sans-serif;
    font-size: 12px;
}

div.nuovoOp{
    font-family: "calibri", sans-serif;
    font-size: 14px;
    margin-left: 100px;
    margin-right: 100px;
    width: 600px;
    height: 400px;
    color: black;
}
div.nuovoOp h4{
    text-align: center;     
}

div.erroreInput ul{
    display: block;
    font-family: "calibri", sans-serif;
    font-size: 12px;
    padding-left: 15px;	
    list-style-type: circle;
}

div.erroreInput{
    margin-top:30px;
    padding: 12px;
    border: 1px solid #95100C;
    background-color: #ccffcc;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

div.erroreInput p{
    text-shadow: 2px 2px 3px #777777;
    font-weight: bold;
}

div.okNuovoOp{
    margin-top:30px;
    padding: 12px;
    border: 1px solid #95100C;
    background-color: #ccffcc;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

div.okNuovoOp p{
    font-family: "calibri", sans-serif;
    font-size: 12px;
    padding-left: 40px;
}

div.okNuovoOp h4 {
    font-family: "calibri", sans-serif;

    text-align: center;
}

table.listaOp tr td {
    border-collapse: collapse;
    border: 1px solid #95100C;
    width:150px;
    margin-left: auto;
    margin-right: auto;    
    font-family: "calibri", sans-serif;
    font-size: 12px;
}

div.listaOp{
    width:70%;
    margin-left: auto;
    margin-right: auto; 
}

tr.b{
    background-color: #ccffcc;
}

th{
    font-family: "calibri", sans-serif;
    font-size: 14px;
}
td.center{
    text-align: center;
}

#result{
    font-family: "calibri", sans-serif;
    font-size: 12px;
    background-color: #ccffcc;
    border: 1px solid #95100C;
    padding: 5px;   
    width: 70%;
    display: none;
    position: absolute;
    top: 353px;
    right: 30px;
}
div.elencoP{
    position: relative;
    left: 10px;
}

div.elencoP label{   
    font-family: "calibri", sans-serif;
    font-size: 12px;
}

div.elencoP input{
    width: 60px;
}

div.elencoP select{
    width: 150px;
}

div.aggiornaP{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

p.aggiornaP{
    font-family: "calibri", sans-serif;
    font-size: 12px;
    background-color: #ccffcc;
    border: 1px solid #95100C;
    padding: 5px;
}
div.aggiornaP label{

    font-family: "calibri", sans-serif;
    font-size: 14px;

}

table.result {
    border-collapse: collapse;
    border: 1px solid #95100C; 
    font-family: "calibri", sans-serif;
    font-size: 12px;
    width: 100%;
}

table.result tr td{
    border-collapse: collapse;
    border: 1px solid #95100C; 
    font-family: "calibri", sans-serif;
    font-size: 12px;
    text-align: center;

}

table.result th{
    border-collapse: collapse;
    border: 1px solid #95100C; 
    font-family: "calibri", sans-serif;
    font-size: 12px;

}

#buttons{
    position: absolute;
    top: 385px;
    font-family: "calibri", sans-serif;
    font-size: 12px;
}

#pagine{
    position: absolute;
    top: 390px;
    right: 0px;
    font-family: "calibri", sans-serif;
    font-size: 12px;
}
#lista{
    width: 210px;
}

div.upload{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    padding-right: 150px;
}

div.upload label{
    display: inline-block;
    width: 170px;
    font-family: "calibri", sans-serif;
    font-size: 14px;

}

div.upload h3{
    font-family: "calibri", sans-serif;
    font-size: 18px;
}
div.upload li{
    font-family: "calibri", sans-serif;
    font-size: 14px;
    list-style-type: none;
}
p.uploadMsg{
    font-family: "calibri", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border: 1px;
    background-color: #ccffcc;
}
div.presentazione{
    width: 850px;
    font-family: "calibri", sans-serif;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}

div.headerPresentazione h2{
    color: white;
    background-image: url('../images/logoUnica.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #95100C;
    width: 845px;
    height: 70px;
    border: 10px;
    border-color: #95100C;
    border-style: solid;
}

div.footer2{
    width: 845px;

    text-align: center;
    font-family: "calibri", sans-serif;
    font-size: 10px;
    color: white;
    border: 10px;
    border-color: #95100C;
    border-style: solid;
    background-color: #95100C;

}

div.centro{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

div.centro p, div.centro li{
    text-align: justify;
}

table.statistiche {
    border-collapse: collapse;
    border: 1px solid #95100C; 
    font-family: "calibri", sans-serif;
    font-size: 12px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table.statistiche tr td{
    border-collapse: collapse;
    border: 1px solid #95100C; 
    font-family: "calibri", sans-serif;
    font-size: 12px;
    text-align: center;

}

table.statistiche th{
    border-collapse: collapse;
    border: 1px solid #95100C; 
    font-family: "calibri", sans-serif;
    font-size: 12px;

}

.puntoEvidenziato {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: #95100C;
    
}

.puntoNormale{
    text-decoration: none;
    color: #000000;
}

